textarea:focus, input:focus {
  outline: none;
}

*:focus {
  outline: none;
}

h1 {
  color: #fff!important;
}

h2{
  color: #fff!important;
}

h3 {
  color: #fff!important;
}

span {
  color: #fff;
}

i {
  color: #fff;
}

p {
  color: #fff;
}

.container {
  flex: 1
}

.playlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: space-between;
}

.label {
  display: flex;
  flex-wrap: wrap;
  color: #000;
}

.spotify-logo--text {
  width: 131px;
  height: 40px;
}

[dir=ltr] .navBar-header .logo {
  padding-left: 24px;
}

.navBar-header .logo {
  border: 0;
  padding-bottom: 18px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

a, a:focus, a:hover {
  color: #fff;
  text-decoration: none;
}

a {
  margin-top: inherit;
  color: #fff;
  border-bottom: 1px solid transparent;
}

.btn1 {
  position: absolute;
  left: 40%;
  top: 0;
  width: 400px;
  border-radius: 16px;
  background: red;
}

img {
  vertical-align: middle;
  margin-top: inherit;
}

.no-focus-outline .tracklist-row {
  outline: none;
}

.tracklist-row {
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4.56em;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tracklist-container1 {
  -webkit-transform: translate(0);
  transform: translate(0);
}

.tracklist-container {
  align-self: auto;
  position: relative;
}

.tracklist-container .tracklist {
  width: 100%;
  margin-bottom: 1.5em;
}

ol, ul {
  list-style: none;
}

.react-contextmenu-wrapper {
  display: inline;
}

[draggable] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-focus-outline .tracklist-row {
  outline: none;
}

.tracklist-row {
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[dir=ltr] .tracklist-col.position-outer {
  text-align: right;
  padding-right: 1em;
}

.tracklist-col.position-outer {
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  letter-spacing: 0;
  width: 2.5em;
}

.tracklist-col {
  display: block;
  height: 4.56em;
}

.tracklist-top-align {
  margin-top: .7em;
}

.tracklist-play-pause {
  color: #fff;
  display: none;
}

.tracklist-row:hover .tracklist-play-pause {
  color: #fff;
  display: block;
}

.tracklist-top-align {
  margin-top: .7em;
}

.tracklist-row:hover .tracklist-top-align.position {
  display: none;
}

.tracklist-top-align.position {
  margin-top: .75em;
}

.tracklist-row .position {
  color: #fff;
  opacity: .6;
}

.tracklist-top-align {
  margin-top: .7em;
}

.tracklist-col.name {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 0;
  overflow: hidden;
  padding-right: 1px;
  margin-right: -1px;
}

.tracklist-col {
  display: block;
  height: 4.56em;
}

.tracklist-top-align {
  margin-top: .7em;
}

.ellipsis-one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 1px;
  padding-left: 5px;
  margin-right: -1px;
}

.tracklist-name {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .015em;
  color: #fff;
}

.track-name-wrapper .second-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

[dir=ltr] .TrackListRow__explicit-label {
  margin-right: .67em;
}

.TrackListRow__explicit-label {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: .015em;
  display: inline-block;
  text-transform: uppercase;
  background-color: hsla(0, 0%, 100%, .6);
  color: #000;
  border-radius: 2px;
  padding: 0 .3em;
}

.react-contextmenu-wrapper {
  display: inline;
}

.track-name-wrapper .tracklist-row__artist-name-link {
  color: #fff;
  opacity: .6;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.track-name-wrapper .second-line-separator {
  color: #fff;
  opacity: .6;
  display: inline-block;
  font-size: .8em;
  padding: 0 8px;
}

.track-name-wrapper .tracklist-row__album-name-link, .track-name-wrapper .tracklist-row__artist-name-link {
  color: #fff;
  opacity: .6;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

a:hover {
  border-bottom: 1px solid #fff;
}

.tracklist-row:hover {
  background: #1a2536;
  height: auto;
}

[dir=ltr] .tracklist-col-duration {
  text-align: right;
  padding-right: 1em;
}

.tracklist-col-duration {
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  letter-spacing: 0;
  width: 3.9em;
}

.tracklist-col {
  display: block;
  height: 4.56em;
}

.tracklist-row .tracklist-duration {
  color: #fff;
  opacity: .6;
}

.tracklist-top-align {
  margin-top: .7em;
}

.trackDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.header-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.songInfo {
  background: #000;
  border: none;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.search-result-wrapper {
  margin: 0px 5px 0px 25px;
}

.top-result-wrapper {
  width: 406px;
  height: 100%;
  position: relative;
  padding: 20px 20px 16px;
  background: #282828;
  border-radius: 8px;
  isolation: isolate;
}

.song-artist-link {
  color: gray;
  outline: none;
}

.song-info-box {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.song-result-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 8px;
}

.song-image-style {
  width: 72px;
  height: 72px;
  margin-right: 12px;
}

.see-all {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 1.76px;
  text-transform: uppercase;
  white-space: nowrap;
  background: transparent;
  color: #b3b3b3;
  position: absolute;
  top: 12px;
  right: 30px;
}

.search-heading-style {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -.36px;
  color: #fff;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.truncate {
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: -.36px;
  padding-bottom: 2px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  word-break: break-all;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.song-name-style {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: .24px;
  outline: none;
  color: #fff;
  display: -webkit-box;
  white-space: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.searched-alltracks {
  margin: 24px 32px;
  max-width: 1955px;
}

.grid-display {
  display: grid;
  grid-row-gap: 0;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
}

.grid-display>:first-child {
  grid-column: 1/ -1;
}

.searched_tracks_heading {
  font-size: 28px;
  line-height: 1.6;
  font-weight: 600;
  letter-spacing: -.36px;
  color: #fff;
  margin: 24px 0;
}

.all-songs-grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
}

.single-song-grid-info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  padding: 20px 20px 16px;
  background: #282828;
  border-radius: 8px;
  isolation: isolate;
}

.grid-image-wrapper {
  height: 0;
  width: 100%;
  padding-top: 100%;
  position: relative;
  margin-bottom: 16px;
  background-color: #333;
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .3), 0 1px 2px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .3), 0 1px 2px 0 rgba(0, 0, 0, .2);
}

.grid-image-wrapper-1 {
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: cubic-bezier(.3, 0, .4, 1);
  transition-timing-function: cubic-bezier(.3, 0, .4, 1);
}

.grid-image-style {
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.grid-info-wrapper {
  min-height: 62px;
}

.grid-info-song-wrapper {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  word-break: break-all;
  -webkit-box-orient: vertical;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: .24px;
  overflow: hidden;
}

.grid-info-song-wrapper a {
  outline: none;
  color: #fff;
}

.grid-info-song-name {
  text-decoration: none;
}

.single-song-grid-info a {
  position: relative;
  z-index: 1;
}

.grid-song-artist {
  font-size: 12px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #b3b3b3;
  padding: 0;
  margin-top: 4px;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.grid-info-play-wrapper {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  bottom: 16px;
  -webkit-box-shadow: 0 0 10px 10px #282828;
  box-shadow: 0 0 10px 10px #282828;
  z-index: 2;
  border-radius: 500px;
  right: 16px;
}

.grid-info-play-button {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 1.76px;
  text-transform: uppercase;
  outline: none;
  --size: 40px;
  border: 0;
  border-radius: 500px;
  color: #fff;
  background-color: #1db954;
  -webkit-transition: -webkit-transform 33ms cubic-bezier(.3, 0, 0, 1);
  transition: -webkit-transform 33ms cubic-bezier(.3, 0, 0, 1);
  transition: transform 33ms cubic-bezier(.3, 0, 0, 1);
  transition: transform 33ms cubic-bezier(.3, 0, 0, 1), -webkit-transform 33ms cubic-bezier(.3, 0, 0, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: var(--size);
  width: var(--size);
}

.single-song-grid-info button {
  position: relative;
  z-index: 1;
}

.single-song-grid-info:hover .grid-info-play-wrapper {
  position: unset;
  opacity: 1;
  pointer-events: auto;
  position: absolute;
}

.grid-info-play-button-show {
  position: absolute;
  z-index: 0;
  content: "";
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  cursor: pointer;
}

.artist-grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
}

.artist-grid>* {
  grid-column: 1/-1;
}

.artist-grid-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 16px 0;
  position: relative;
}

.arist-grid-head-wrapper {
  grid-template-rows: auto 1fr;
  overflow: hidden;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
}

.artist-grid-head-wrapper-1 {
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.artist-grid-head-wrapper-2 {
  font-size: 28px;
  line-height: 1.6;
  font-weight: 600;
  letter-spacing: -.36px;
  color: #fff;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 80%;
  flex: 1 0 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist-grid-see-all {
  right: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 1.76px;
  text-transform: uppercase;
  outline: none;
  border: 0;
  background: transparent;
  color: #b3b3b3;
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  white-space: nowrap;
  margin-left: 20px;
}

.single-artist-grid-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  padding: 20px 20px 16px;
  background: #282828;
  border-radius: 8px;
  isolation: isolate;
}

.single-artist-grid-wrapper a {
  position: relative;
  z-index: 1;
}

.artist-grid-image-wrapper {
  border-radius: 50%;
  height: 0;
  width: 100%;
  padding-top: 100%;
  position: relative;
  margin-bottom: 16px;
  background-color: #333;
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .3), 0 1px 2px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .3), 0 1px 2px 0 rgba(0, 0, 0, .2);
}

.artist-grid-image-wrapper-1 {
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: cubic-bezier(.3, 0, .4, 1);
  transition-timing-function: cubic-bezier(.3, 0, .4, 1);
}

.artist-image-style {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.artist-grid-info-wrapper {
  min-height: 62px;
}

.artist-name-wrapper {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  word-break: break-all;
  -webkit-box-orient: vertical;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: .24px;
  overflow: hidden;
}

.artist-name-style {
  text-decoration: none;
}

.artist-name-wrapper a {
  outline: none;
  color: #fff;
}

.artist-type {
  font-size: 12px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #b3b3b3;
  padding: 0;
  margin-top: 4px;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.artist-info-play-wrapper {
  right: 16px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  bottom: 16px;
  -webkit-box-shadow: 0 0 10px 10px #282828;
  box-shadow: 0 0 10px 10px #282828;
  z-index: 2;
  border-radius: 500px;
}

.single-artist-grid-wrapper button {
  position: relative;
  z-index: 1;
}

.artist-info-play-button {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 1.76px;
  text-transform: uppercase;
  outline: none;
  --size: 40px;
  border: 0;
  border-radius: 500px;
  color: #fff;
  background-color: #1db954;
  -webkit-transition: -webkit-transform 33ms cubic-bezier(.3, 0, 0, 1);
  transition: -webkit-transform 33ms cubic-bezier(.3, 0, 0, 1);
  transition: transform 33ms cubic-bezier(.3, 0, 0, 1);
  transition: transform 33ms cubic-bezier(.3, 0, 0, 1), -webkit-transform 33ms cubic-bezier(.3, 0, 0, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: var(--size);
  width: var(--size);
}

.single-artist-grid-wrapper .artist-info-play-button-show {
  position: absolute;
  z-index: 0;
}

.artist-info-play-button-show {
  content: "";
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  cursor: pointer;
}

.single-artist-grid-wrapper:hover .artist-info-play-wrapper {
  position: unset;
  opacity: 1;
  pointer-events: auto;
  position: absolute;
}

.search-wrapper {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 16px;
}

.form-wrapper {
  position: relative;
  max-width: 360px;
}

.search-label {
  position: relative;
  display: block;
  margin: 0;
}

.search-input {
  color: #000;
  padding: 6px 48px;
  height: 40px;
  line-height: 40px;
  width: 100%;
  border: 0;
  border-radius: 500px;
}

.search-icon-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  pointer-events: none;
  left: 12px;
  right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-icon-style {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #121212;
}

.svg-icon-style {
  display: block;
  color: #121212;
  pointer-events: auto;
}

.clear-search-wrapper {
  outline: none;
  color: #121212;
  background-color: transparent;
  border: 0;
  padding: 0
}